.table{
    margin-top: 4% ;
    overflow:scroll;
    height: 400px;
    background-color: #fff;
    width: 100%;
}

.table tr{
    display: flex;
    justify-content: space-between;
    padding: 2%;
}

.table tr:nth-of-type(odd){
    background-color: rgb(241, 241, 241) ;
}

@media (max-width: 990px) {
    .table tr {
        display: flex;
        justify-content: space-between;
        width:320%;
    }
}

